SERVER_ADDRESS=http://localhost:3000
# SERVER_ENV=development
SERVER_ENV=production
SERVER_PORT=3000
DOCUMENT_AUTH_USER=user
DOCUMENT_AUTH_PASSWORD=password

JWT_SECRET=deep_secret
JWT_EXP=3600
JWT_REFRESH_SECRET=deep_secret
JWT_REFRESH_EXP=15552000

DB_URI=mongodb://localhost:27017/aisoft?replicaSet=rs0
MONGODB_URI=mongodb://localhost:27017/aisoft?replicaSet=rs0
MONGODB_TLS=0
MONGODB_TLS_CA_FILE=/app/certs/global-bundle.pem

# MONGODB_HOST=localhost
# MONGODB_PORT=27017
# MONGODB_NAME=aisoft
# DB_USER=root
# DB_PASSWORD=password

SQL_TYPE=postgres
SQL_HOST=localhost
SQL_PORT=5432
SQL_USER=aisoft
SQL_PASSWORD=aisoft
SQL_DB=aisoft
SQL_SCHEMA=public
SQL_USE_SSL=0
SQL_SSL_REJECT_UNAUTHORIZED=0

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_TLS=0
REDIS_TLS_REJECT_UNAUTHORIZED=0

ONE_SIGNAL_APP_ID=app_id
ONE_SIGNAL_API_KEY=api_key

SSO_JWKS_URI=https://ais.aisenote.com/keycloak/realms/master/protocol/openid-connect/certs

SERVER_OAUTH2_TOKEN_URL=
SERVER_OAUTH2_CLIENT_ID=
SERVER_OAUTH2_CLIENT_SECRET=
SERVER_OAUTH2_SCOPE=
SERVER_OAUTH2_AUDIENCE=

MICROSERVICE_RABBITMQ_URL=amqp://user:password@localhost
MICROSERVICE_GRPC_PORT=3001

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=0
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_REGION=ap-southeast-1
MINIO_BUCKET=aisoft
MINIO_MULTIPART_PART_SIZE=16777216
